.chart-container {
  width: 100%;
}

.affix#selectors_holder {
  top: 0;
  padding: 10px;
  position: fixed;
  background: #379bce;
  color: #fff;
  z-index: 999;
}

.affix-top#selectors_holder {
  position: static;
}

.affix {
  top: 94px;
  padding: 10px;
  position: fixed;
  background-color: #174c74;
  color: #fff;
  z-index: 999;
  h3 {
    color: #fff;
  }
}

.affix-top {
  position: static;
}