.chart-container {
  width: 100%; }

#domains_tab .nav-tabs > li > a {
  font-size: 11px; }

.fs-chart-row {
  line-height: 250px; }

hr.heavy {
  border: 1px solid #666; }

.single-margin {
  margin-left: 16px; }

.double-margin {
  margin-left: 32px; }

